@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;900&display=swap');

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

.header-top{
    background-color: black;
}
.carousel-item{
    color: white;
}
p{
    text-align: center;
    margin-top: 10px;
    
}

.col-sm-6{
    padding: 1px !important;    
}
p{
    font-family: 'Inter','sans-serif' !important;
    letter-spacing: 0px !important;
    font-size: 14px;
    text-align: center;
    color: black;
  }

.botones{
    display: flex;
    justify-content: center;
    margin-right: 30px;
    margin-left: 30px;
    position: relative;
    gap: 50px;
    margin-top: 30px;
    font-size: 14px;
}

.talla{
    background-color: transparent;
    border: none !important;
    color: black;
    padding: 10px;
}

.talla:hover{
    background-color: black;
    color: white;
    
}

*{
    margin-bottom: 0;
}

@font-face {
    font-family: Sequel;
    src: url(./fonts/sequel-100-black-96.ttf);
}

/* Carousel de información */

.header-top{
    background-color: black;
}
.carousel-item{
    color: white;
}

.coli-p {
    font-size: 12px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Navbar */

.nav-row {
    height: 50px;
    width: auto;
}
.nalink{
    color: #000;
    font-size: 15px;
    margin-left: 11px;
    margin-right: 11px;
    font-weight: bold;
    text-decoration: none;
}

.nalink-special{
    font-family: Sequel;
}

.nalink:hover{
    color: #A3A3A3;
}

.dropdown-menu{
    font-size: 15px;
    width: 200px;
    height: auto;
}

.dropdown-item:active{
    background-color: #A3A3A3;
}

.lista-offcanvas{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    list-style-type: none;
}

.lista-offcanvas li{
    margin-bottom: 20px;
}

.link-offcanvas{
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.link-offcanvas:hover{
    color: #A3A3A3;
}

.link-offcanvas-especial {
    font-family: Sequel;
}

.btn-offcanvas {
    background-color: #000;
    width: 180px;
    height: auto;
}

.navbar:ul{
    list-style: none;
}
/* ..................Formato galeria colecciones by Dairon........................... */

.img-collect {
    object-fit: cover;
    width: 100%;
    height: 100%; 
    
}
.col-4{

    
    margin: 0;
    
}

.img-hover-container{
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 880px;
    column-gap: 1rem;
}

.before{
    position: relative;    
    overflow: hidden;
}
.before img{
    transition: transform .8s;
}
.before:hover img{
    transform: scale(1.2);
}
.before:hover::before{
    opacity: 1;
    z-index: 100;
    
}
.before::before{
    transition: opacity .6s;
    content: attr(data-content);
    font-size: 1.5rem;
    color: #fff;
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    background: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter','sans-serif' !important;
}

/* CONTENIDO */
.contenido{
    font-size: 15px;
}
/* WHATSAPP */
.wasa{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
}

/* PIE PÀGINA */
.pie{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.ultimo{
    line-height: 18px;
    font-size: 15px;
}
