*{
    margin-bottom: 0;
}

.nalink{
    color: #000;
    margin-right: 25px;
    font-weight: bold;
}

.nalink:hover{
    color: #ffff;
    cursor: pointer;
}

.header-top{
    background-color: black;
}
.carousel-item{
    color: white;
}
p{
    text-align: center;
    margin-top: 10px;
    
}