@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;900&display=swap');

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
      
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }


 
  .bd-mode-toggle {
    z-index: 1500;
  }
  
.header-top{
    background-color: black;
}
.carousel-item{
    color: white;
}



.col-sm-6{
    padding: 1px !important; 
    
}
p{
    font-family: 'Inter','sans-serif' !important;
    letter-spacing: 0px !important;
    font-size: 14px;
    text-align: center;
    color: black;
  }


/* 
.DivBoton{
    border: none;
    background-color: transparent;
    color: black;
} */

.botones{
    display: flex;
    justify-content: center;
    margin-right: 30px;
    margin-left: 30px;
    position: relative;
    gap: 50px;
    margin-top: 30px;
    font-size: 14px;
}

.talla{
    background-color: transparent;
    border: none !important;
    color: black;
    padding: 10px;
    z-index: 3;
    border-radius: 10px;

}

.talla:hover{
    background-color: black;
    color: white;
    
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;900&display=swap');

.col-xxl-3 {
    padding: 1px !important; 
    
}
.col-6 {
  padding: 1px !important; 
  
}
p{
    font-family: 'Inter','sans-serif' !important;
    letter-spacing: 0px !important;
    font-size: 14px;
    text-align: center;
    color: black;
  }


/* 
.DivBoton{
    border: none;
    background-color: transparent;
    color: black;
} */

.botones{
    display: flex;
    justify-content: center;
    margin-right: 30px;
    margin-left: 30px;
    position: relative;
    gap: 50px;
    margin-top: 30px;
    font-size: 14px;
}

.talla{
    background-color: transparent;
    border: none !important;
    color: black;
    padding: 10px;
}

.talla:hover{
    background-color: black;
    color: white;
    
}
.contenido{
    z-index: 3;
}
/*ANIMACION DE LAS TARGETAS*/
.gg{  border-radius: 10px;

  object-fit: cover;
  width: 100%;
  height: auto;
}
.gg .r1{
  position: absolute;
  width: 30px;
  bottom: 10%;
  left: 52%;
  border-radius: 10px;
  
  margin: auto;
  transform: translateY(35%);
  transition: .3s ease;
  opacity: 0;
  
}

.gg .r2{
  position: absolute;
  width: 30px;
  bottom: 10%;
  right: 52%;
  border-radius: 10px;

  margin: auto;
  transform: translateY(35%);
  transition: .3s ease;
  opacity: 0;
  
}

.gg .r4{
  position: absolute;
  max-width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;

  margin: auto;
  transform: translateY(0%);
  transition: .3s ease;
  opacity: 0;
}



.gg:hover .r1{
  opacity: 1;
  transform: translateY(0px);
  position: absolute;
  left: 52%;
  z-index: 2;

}
.gg:hover .r2{
  opacity: 1;
  transform: translateY(0px);
  position: absolute;
  right: 52%;
  z-index: 2;

}

.gg:hover .r4{
  opacity: 1;
  transform: translateY(0px);
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 1;

}
.row1{
  width: 100%;
}

@font-face {
  font-family: Sequel;
  src: url(../fonts/sequel-100-black-96.ttf);
}

.header-top{
  background-color: black;
}
.carousel-item{
  color: white;
}

.coli-p {
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
  color:white;
}

.nav-row {
  height: 50px;
  width: auto;
}
.nalink{
  color: #000;
  font-size: 15px;
  margin-left: 11px;
  margin-right: 11px;
  font-weight: bold;
  text-decoration: none;
}

.nalink-special{
  font-family: Sequel;
}

.nalink:hover{
  color: #A3A3A3;
}

.dropdown-menu{
  font-size: 15px;
  width: 200px;
  height: auto;
}

.dropdown-item:active{
  background-color: #A3A3A3;
}

.lista-offcanvas{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  list-style-type: none;
}

.lista-offcanvas li{
  margin-bottom: 20px;
}

.link-offcanvas{
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.link-offcanvas:hover{
  color: #A3A3A3;
}

.link-offcanvas-especial {
  font-family: Sequel;
}

.btn-offcanvas {
  background-color: #000;
  width: 180px;
  height: auto;
}

.colec-line{
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  padding-left: 40px;
  
}
.colec-row{
  background-color: #F9F9F9;
  margin-bottom: 10px;
}
.filtrar{
  margin: 10px;
}
/* CONTENIDO */
.contenido{
  font-size: 15px;
}
/* WHATSAPP */
.wasa{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
}

/* PIE PÀGINA */
.pie{
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.ultimo{
  line-height: 18px;
  font-size: 15px;
}

.pp{
  margin-left: 45px;
}
